<div id="page_wrapper">
	<div id="content">
		<h1>Hey, I'm Mark Waldron</h1>
		<p>I'm doing the 12 Web Apps in 12 Weeks challenge. This is week 2 of 12</p>
		<p>This week I built a blog in Rails 4. This is the blog I built!</p>
		<p>If you'd like to find out more about me, or follow along you can vist my <a href="https://blog.markewaldron.com">blog</a> or my <a href="https://markewaldron.com">website</a>.</p>
	</div>
</div>